<a href="https://colab.research.google.com/github/siddeshnaik/Sentdex_codes/blob/master/Titanic_dataset_KMeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://pythonprogramming.net/static/downloads/machine-learning-data/titanic.xls

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")
import numpy as np
from sklearn.cluster import KMeans
import pandas as pd

In [ ]:
df = pd.read_excel("titanic.xls")
df.head()

In [ ]:
df.info()

In [ ]:
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split

In [ ]:
df.drop(["body","name"], 1, inplace=True)
df.head()

In [ ]:
df["sex"]=df.sex.replace("female",0).replace("male",1) #female =0 male =1

In [ ]:
df.head()

In [ ]:
df.embarked.unique()

In [ ]:
df[df.embarked.isnull()== True]

In [ ]:
df.embarked.fillna("Q",inplace=True)

In [ ]:
df.info()

In [ ]:
!wget https://pythonprogramming.net/static/downloads/machine-learning-data/titanic.xls
df1 = pd.read_excel(r"/content/titanic.xls.1")

In [ ]:
df1.drop(['body','name'], 1, inplace=True)
df1.fillna(0, inplace=True)
df1.head()

In [ ]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    print("columns:",columns)
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df1[column].values.tolist()
            print("\n\nColum:",column,"\n")
            print("column_contents:",column_contents)
            unique_elements = set(column_contents)
            print("unique_elements:",unique_elements)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
            print("text_digit_vals:",text_digit_vals)
            df[column] = list(map(convert_to_int, df[column]))
    return df

df1 = handle_non_numerical_data(df1)
print(df1.head())

In [ ]:
df1.head()

In [ ]:
X = np.array(df1.drop(["survived"],1).astype(float))
y = np.array(df["survived"])

In [ ]:
clf = KMeans(n_clusters=2)
clf.fit(X)

In [ ]:
clf.labels_

In [ ]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

In [ ]:
clf.cluster_centers_